@using Gatarr.Models.Radarr
@using Humanizer

<Space Size=@(("8", "4")) Wrap Align="start" Class="details">
    <SpaceItem>
        <span class="certification">@Movie.certification</span>
    </SpaceItem>
                            
    <SpaceItem>
        <Popover Title="Release Dates" Placement="@Placement.Bottom" Trigger="@(new[] {Trigger.Hover})">
            <ContentTemplate>
                <MovieReleases Movie="@Movie" />
            </ContentTemplate>
            <ChildContent>
                <div class="release">@Movie.year</div>
            </ChildContent>
        </Popover>
    </SpaceItem>
                            
    <SpaceItem>
        <div class="runtime">@Movie.runtime.Minutes().Humanize(precision: 2)</div>
    </SpaceItem>
                            
    <SpaceItem>
        <MovieLinksPopover Movie="@Movie"/>
    </SpaceItem>
</Space>

@code {
    [Parameter]
    public MovieResource Movie { get; set; }
}
