@using Gatarr.Models.Radarr
@using Humanizer
@using Image = Gatarr.Models.Shared.Image

<style>
    .movieDetailsRoot {
        width: 100%;
        height: 375px;
        position: relative;
        overflow: hidden;
        background: #000;
        background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(@Fanart?.remoteUrl);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="movieDetailsRoot">
    <div class="movieDetailsContent">
        <Space
            Size=@(("8", "4"))
            Align="Start">
            <SpaceItem>
                <Image Class="moviePoster" Src="@Poster?.remoteUrl"/>
            </SpaceItem>
            <SpaceItem>
                <Space
                    Size=@(("8", "4"))
                    Align="Start"
                    Direction="DirectionVHType.Vertical"
                    Class="movie">

                    <SpaceItem>
                        <div class="movieTitleRow">
                            @*<i class="fa fa-bookmark"/>
                            <i class="fa-solid fa-bookmark"/>*@
                            <div>@Movie.title</div>
                        </div>
                    </SpaceItem>

                    <SpaceItem Class="movieDetails">
                        <MovieDetails Movie="@Movie"/>
                    </SpaceItem>

                    <SpaceItem>
                        <MovieRatings Ratings="@Movie.ratings"/>
                    </SpaceItem>

                    <SpaceItem>
                        <Space Size=@(("8", "4")) Wrap Align="start">
                            <LabelledTextField Label="Path" Value="@Movie.path"/>
                            <LabelledTextField Label="Status" Value="@Movie.status"/>
                            <LabelledTextField Label="Quality Profile" Value="@Movie.qualityProfileId.ToString()"/>
                            <LabelledTextField Label="Size" Value="@Movie.sizeOnDisk.Bytes().Humanize()"/>
                            <LabelledTextField Label="Studio" Value="@Movie.studio"/>
                            <LabelledTextField Label="Genres" Value="@string.Join(", ", Movie.genres)"/>
                        </Space>
                    </SpaceItem>

                    <SpaceItem Class="overview">
                        <span>@Movie.overview</span>
                    </SpaceItem>
                </Space>
            </SpaceItem>
        </Space>
    </div>
</div>

@code {
    [Parameter]
    public MovieResource Movie { get; set; }

    public Image Poster => Movie?.images?.FirstOrDefault(x => x.coverType == "poster");
    public Image Fanart => Movie?.images?.FirstOrDefault(x => x.coverType == "fanart");
}
