@using Gatarr.Models
@using Gatarr.Models.Radarr
@using Humanizer
@using System.ComponentModel.DataAnnotations

<Popover Title="Release Dates" Placement="@Placement.Bottom" Trigger="@(new[] {Trigger.Hover})" Style="@Style">
    <ContentTemplate>
        <table>
            <tbody>
                @if (Movie.inCinemas != DateTime.MinValue)
                {
                    <tr>
                        <td><span class="fa @FontAwesomeConstants.Ticket"/></td>
                        <td class="label">@Movie.inCinemas.ToOrdinalWords()</td>
                    </tr>
                }

                @if (Movie.physicalRelease != DateTime.MinValue)
                {
                    <tr>
                        <td><span class="fa @FontAwesomeConstants.CompactDisc"/></td>
                        <td class="label">@Movie.physicalRelease.ToOrdinalWords()</td>
                    </tr>
                }

                @if (Movie.digitalRelease != DateTime.MinValue)
                {
                    <tr>
                        <td><span class="fa @FontAwesomeConstants.FileVideo"/></td>
                        <td class="label">@Movie.digitalRelease.ToOrdinalWords()</td>
                    </tr>
                }
            </tbody>
        </table>
    </ContentTemplate>
    <ChildContent>
        <div class="release">@Movie.year</div>
    </ChildContent>
</Popover>

@code {
    [Parameter]
    public MovieResource Movie { get; set; }

    [Parameter]
    public string Style { get; set; }
}
