@using Gatarr.Models.Radarr
@using Humanizer
@using Image = Gatarr.Models.Shared.Image

<style>
    .movie,
    .movie h1 {
        color: white;
    }

    .movieDetails span {
        font-size: 20px;
    }

    .certification {
        margin-right: 15px;
        padding: 0 5px;
        border: 1px solid;
        border-radius: 5px;
    }

    .moviePoster {
        border-style: 0;
        width: 217px;
        height: 319px;
        display: block;
        margin-right: 25px;
    }

    .fanArt,
    .movieDetailsRoot {
        background-image: url(@Fanart?.remoteUrl);
        background-size: cover;
    }

    .movieDetailsRoot {
        width: 100%;
        height: 375px;
        position: relative;
    }

    .movieDetailsContent {
        padding: 30px;
    }

    .fanArtOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.7;
    }

    .infoLabel {
        margin-bottom: 2px;
        color: #909293;
        font-size: 10px;
    }

    span .info {
        font-weight: 300;
        font-size: 17px;
        color: #fff;
        white-space: nowrap;
        line-height: 1;
        cursor: default;
        padding: 3px 7px;
        margin: 5px 10px 5px 0;
    }
</style>

<div class="movieDetailsRoot">
    <div class="fanArtOverlay" />
    <div class="movieDetailsContent">
        <Row>
            <GridCol Span="4">
                <Image Class="moviePoster" Src="@Poster?.remoteUrl" />
            </GridCol>
            <GridCol Span="20">
                <div class="movie">
                    <h1>@Series.title</h1>
                    <div class="movieDetails">
                        <span class="certification">@Series.certification</span>
                        <span class="release">@Series.year</span>

                        <span class="runtime">@Series.runtime.Minutes().Humanize()</span>
                    </div>
                    <MovieRatings Ratings="@Series.ratings" />
                    <div>
                        <span>
                            <div class="infoLabel">Path</div>
                            <span class="info">@Series.path</span>
                        </span>
                        <span>
                            <div class="infoLabel">Status</div>
                            <span class="info">@Series.status</span>
                        </span>
                        <span>
                            <div class="infoLabel">Quality Profile</div>
                            <span class="info">@Series.qualityProfileId</span>
                        </span>
                        <span>
                            <div class="infoLabel">Size</div>
                            <span class="info">@Series.sizeOnDisk.Bytes().Humanize()</span>
                        </span>
                        @*<span>
                            <div class="infoLabel">Studio</div>
                            <span class="info">@Series.studio</span>
                        </span>*@
                        <span>
                            <div class="infoLabel">Genres</div>
                            <span class="info">@string.Join(", ", @Series.genres)</span>
                        </span>
                    </div>
                    <div class="overview">
                        <span>@Series.overview</span>
                    </div>
                </div>
            </GridCol>
        </Row>
    </div>
</div>

@code {
    [Parameter]
    public Models.Sonarr.Series Series { get; set; }

    public Image Poster => Series?.images?.FirstOrDefault(x => x.coverType == "poster");
    public Image Fanart => Series?.images?.FirstOrDefault(x => x.coverType == "fanart");

    //private RenderFragment _releaseContent =>
    //    @<div>
    //        <p><b>Theater Release Date:</b>@Movie.inCinemasDisplay</p>
    //        <p><b>Physical Release Date:</b> @Movie.physicalReleaseDisplay</p>
    //        <p><b>Digital Release Date:</b>@Movie.digitalReleaseDisplay</p>
    //    </div>;
}
