@using Gatarr.Models.Radarr

<style>
    .demo-mat-card {
        max-width: 300px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>
<MatCard class="demo-mat-card">
    <MatCardContent>
        @if (movie.images.FirstOrDefault(x => x.coverType == "poster") != null)
        {
            <MatCardMedia Wide="true" ImageUrl="@movie.images.FirstOrDefault(x => x.coverType == "poster").remoteUrl" />
        }
        <div class="demo-mat-card-content">
            <MatHeadline6 class="demo-mat-card-clean-margin">
                @movie.title (@movie.year)
            </MatHeadline6>
            <MatSubtitle1>@movie.studio</MatSubtitle1>
            <MatSubtitle1>@movie.runtimeDisplay</MatSubtitle1>
            <MatSubtitle2 class="demo-mat-card-clean-margin">
                @movie.overview
            </MatSubtitle2>
        </div>

        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            <p><MatIcon Icon="@MatIconNames.Theaters"/>@movie.inCinemasDisplay</p>
            <p><MatIcon Icon="@MatIconNames.Album"/>@movie.physicalReleaseDisplay</p>
            <p><MatIcon Icon="@MatIconNames.Web"/>@movie.digitalReleaseDisplay</p>
        </MatBody2>
    </MatCardContent>
    <MatCardActions>
        <MatCardActionIcons>
            <NavLink href="@movie.url">
                <MatIconButton Icon="@MatIconNames.Info"/>
            </NavLink>
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>

@code {
    [Parameter]
    public MovieResource movie { get; set; }
}
