@using Gatarr.Models.Radarr
@using Microsoft.AspNetCore.Http.Extensions

<Card Style="width: 300px;">
    <Body>
    @if (Movie.images.FirstOrDefault(x => x.coverType == "poster") != null)
    {
        <AntDesign.Image Src="@Movie.images.FirstOrDefault(x => x.coverType == "poster").remoteUrl"/>
    }
    <div class="demo-mat-card-content">
        <Title Level="4" class="demo-mat-card-clean-margin">
            @Movie.title (@Movie.year)
        </Title>
        <Button
            OnClick="InfoButtonOnClick"
            Type="@ButtonType.Primary"
            Shape="@ButtonShape.Circle">
            <Icon Type="info-circle" Theme="outline"/>
        </Button>
        <p>@Movie.studio</p>
        <p>@Movie.runtimeDisplay</p>
        <p class="demo-mat-card-clean-margin">
            @Movie.overview
        </p>
    </div>
    </Body>
</Card>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public MovieResource Movie { get; set; }

    private void InfoButtonOnClick(MouseEventArgs obj)
    {
        NavigationManager.NavigateTo($"/radarr/movies/{Movie.id}");
    }

}
