@using Gatarr.Models.Sonarr
@using Humanizer

<div class="series">
    <a href="/sonarr/series/@Series.id">
        <Card Hoverable Style="width: 200px;">
            <Cover>
                <img alt="poster" class="poster" src="@PosterUrl" />
                <div class="@GetFileCountClass()">@EpisodeFiles / @TotalEpisodes</div>
                <Progress
                    Percent="@EpisodePercentage"
                    ShowInfo="false"
                    StrokeLinecap="@ProgressStrokeLinecap.Square">
                </Progress>
            </Cover>
            <Body>
            <div>
                <div class="seriesTitle">@Series.title</div>
                <div class="years">@GetYearText()</div>
                <div class="seasonsCount">@Series.seasons.Count Seasons (@Series.seasonCount)</div>
                <div class="runtime">@Series.runtime.Minutes().Humanize(precision: 2) / episode</div>
            </div>
            </Body>
        </Card>
    </a>
</div>

@code {
    [Parameter]
    public Models.Sonarr.Series Series { get; set; }

    private string PosterUrl => Series?.images?.FirstOrDefault(x => x.coverType == "poster")?.remoteUrl ?? string.Empty;

    private int EpisodeFiles => Series.seasons.Sum(x => x.statistics.episodeFileCount);
    private int TotalEpisodes => Series.seasons.Sum(x => x.statistics.episodeCount);
    private float EpisodePercentage => (((float) EpisodeFiles) / ((float) TotalEpisodes)) * 100;

    private string GetFileCountClass()
    {
        var fileCountClass = "fileCount";

        if (EpisodeFiles == TotalEpisodes)
        {
            fileCountClass += " gotThemAll";
        }

        return fileCountClass;
    }

    private string GetYearText()
    {
        if (Series.firstAired.Year == Series.previousAiring.Year)
        {
            return Series.year.ToString();
        }
        
        return $"{Series.firstAired.Year} - {Series.previousAiring.Year}";
    }
}