@using Gatarr.Models.Sonarr


<Card Style="width:300px;">
    <Body>
        @if (Series.images.FirstOrDefault(x => x.coverType == "poster") != null)
        {
            <AntDesign.Image Src="@Series.images.FirstOrDefault(x => x.coverType == "poster").remoteUrl" />
        }
        <div class="demo-mat-card-content">
            <Title Level="4">
                @Series.title (@Series.year)
                <div>@Series.runtime</div>
            </Title>
            <p>
                @Series.overview
            </p>
        </div>
    </Body>
</Card>

@code {
    [Parameter]
    public Series Series { get; set; }
}