@page "/radarr/movies/{id}"
@using Gatarr.Services
@using Gatarr.Components.Radarr.Movie.Details;
@using Gatarr.Components.Radarr.Movie.Tabs;
@using Gatarr.Models.Radarr

@if (CurrentMovie == null)
{
    <PageTitle>Loading...s</PageTitle>

    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>@CurrentMovie.title</PageTitle>

    <MovieDetails Movie="@CurrentMovie" />

    <Tabs DefaultActiveKey="1">
        <TabPane Key="1" Tab="History">
            <HistoryTab />
        </TabPane>
        <TabPane Key="2" Tab="Search">
            <SearchTab />
        </TabPane>
        <TabPane Key="3" Tab="Files">
            <FilesTab MovieFiles="@MovieFiles" />
        </TabPane>
        <TabPane Key="4" Tab="Titles">
            <AlternateTitlesTab AlternateTitles="@CurrentMovie.alternateTitles" />
        </TabPane>
        <TabPane Key="5" Tab="Cast">
            <CastTab Cast="@Cast" />
        </TabPane>
        <TabPane Key="6" Tab="Crew">
            <CrewTab Crew="@Crew"/>
        </TabPane>
    </Tabs>
}

@code {
    [Parameter]
    public string id { get; set; }

    [Inject]
    public IRadarrService RadarrService { get; set; }

    public MovieResource CurrentMovie { get; set; }

    public List<Credit> Credits { get; set; }
    public List<Credit> Cast => Credits.Where(x => x.type == "cast").ToList();
    public List<Credit> Crew => Credits.Where(x => x.type == "crew").ToList();

    public List<MovieFile> MovieFiles { get; set; }

    public List<MovieHistory> MovieHistory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAll(new List<Task>
        {
            LoadMovie(),
            LoadCredits(),
            LoadFiles(),
            LoadHistory()
        });
    }

    private async Task LoadMovie()
    {
        CurrentMovie = await RadarrService.GetMovie(id);
    }

    private async Task LoadCredits()
    {
        Credits = await RadarrService.GetCredits(id);
    }

    private async Task LoadFiles()
    {
        MovieFiles = await RadarrService.GetFiles(id);
    }

    private async Task LoadHistory()
    {
        MovieHistory = await RadarrService.GetHistory(id);
    }
}
