@page "/radarr/movies/{id}"
@using Gatarr.Services
@using Gatarr.Components.Radarr.Movie.Details;
@using Gatarr.Components.Radarr.Movie.Tabs;
@using Gatarr.Models.Radarr

@if (CurrentMovie == null)
{
    <PageTitle>Loading...s</PageTitle>

    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>@CurrentMovie.title</PageTitle>

    <MovieDetails Movie="CurrentMovie" />

    <Tabs DefaultActiveKey="1">
        <TabPane Key="1" Tab="History">
            <HistoryTab MovieId="@id"/>
        </TabPane>
        <TabPane Key="2" Tab="Search">
            <SearchTab />
        </TabPane>
        <TabPane Key="3" Tab="Files">
            <FilesTab MovieId="@id" />
        </TabPane>
        <TabPane Key="4" Tab="Titles">
            <AlternateTitlesTab AlternateTitles="CurrentMovie.alternateTitles" />
        </TabPane>
        <TabPane Key="5" Tab="Cast">
            <CastTab MovieId="@id" />
        </TabPane>
        <TabPane Key="6" Tab="Crew">
            <CrewTab MovieId="@id" />
        </TabPane>
    </Tabs>
}

@code {
    [Parameter]
    public string id { get; set; }

    [Inject]
    public IRadarrService RadarrService { get; set; }

    public MovieResource CurrentMovie { get; set; }


    protected override async Task OnInitializedAsync()
    {
        CurrentMovie = await RadarrService.GetMovie(id);
    }
}
