@using Microsoft.Extensions.Options
@using Gatarr.Models.Settings
@using System.Security.Cryptography.X509Certificates

@inject IOptions<SonarrSettings> Sonarr
@inject IOptions<RadarrSettings> Radarr
@inject IOptions<LidarrSettings> Lidarr

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gatarr</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<style>
    #navLinkContent {
        overflow: auto;
        display: flex;
        align-items: center;
    }

    #navLinkContent .icon span.fa {
        font-size: 20px;
    }

    #navLinkContent .icon {
        float: left;
        margin-right: 8px;
        width: 25px;
        text-align: center;
    }

    #navLinkContent .labels {
        float: left;
    }

    #navLinkContent .labels div {
        line-height: 1;
    }

    #navLinkContent .labels div.service {
        font-size: 12px;
        opacity: 0.7;
    }
</style>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @GetNavLinkContent("Home", string.Empty, "fa-house")
            </NavLink>
        </div>
        
        @if (Sonarr.Value.Enabled)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sonarr">
                    @GetNavLinkContent("TV", "Sonarr", "fa-tv")
                </NavLink>
            </div>
        }

        @if (Radarr.Value.Enabled)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="radarr">
                    @GetNavLinkContent("Movies", "Radarr", "fa-film")
                </NavLink>
            </div>
        }

        @if (Lidarr.Value.Enabled)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="lidarr">
                    @GetNavLinkContent("Music", "Lidarr", "fa-music")
                </NavLink>
            </div>
        }
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                @GetNavLinkContent("Settings", string.Empty, "fa-gear")
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private RenderFragment GetNavLinkContent(string category, string serviceName, string icon)
    {
        return
            @<div id="navLinkContent">
                <div class="icon"><span class="fa @icon"/></div>
                <div class="labels">
                    <div>@category</div>
                    @if (!string.IsNullOrEmpty(serviceName))
                    {
                        <div class="service">from @serviceName</div>
                    }
                </div>
            </div>;
    }

    public void Refresh()
    {
        StateHasChanged();
    }
}
